<html>
{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="{% static "decision.css" %}">
<script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>

<div id="inputFormDiv">
	<form enctype="multipart/form-data" action="/" method="post">
	  	{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Submit">
	</form>
</div>

<div id="ideaTableDiv">
	<table id="ideaTable">
		<tbody>
		{% for idea in ideas %}
  			<tr>
				<td id="metaI";>
					<div id="ideaId" style="height:45%; width:47%; float:left; margin-bottom:2%;"><a href="idea/{{idea.id}}">{{ idea.id }}</a></div>
					<div id="tags" style="height:45%; width:47%; float:right; margin-bottom:2%;">tags</div>
					<div id="dateCreated" style="height:45%; width:47%; float:left;">createdDate</div>
					<div id="dateDue" style="height:45%; width:47%; float:right;">dueDate</div>
				</td>
				<td><div id="statement"> {{ idea.statement }} </div></td>
				<td><div id="opinion"> {{ idea.opinion }} </div></td>
				
				{% if idea.status == 'DISAGREE' %}
					<td> <img src="{% static "imgs/disagree.png" %}"/></td>
				{% elif idea.status == 'AGREED' %}
					<td> <img src="{% static "imgs/agree.png" %}"/></td>
				{% elif idea.status == 'COUNTER' %}
					<td> <img src="{% static "imgs/counter.png" %}"/></td>
				{% elif idea.status == 'PENDING' %}
					<td> <img src="{% static "imgs/pending.png" %}"/></td>
				{% endif %}
		  	</tr>
  		{% endfor %}
		</tbody>
	</table>
</div>

</body>
</html>